.slcik-track,
.slick-list {
    transition-delay: 0.03s;
}

.topBanner {
    position: relative;
    background: #f9f9f9;
    padding: 50px 0;
    transition: padding 0.5s;
}

.topBanner.on {
    height: 0;
    padding: 0 0;
    overflow: hidden;
}

.topBanner .inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.topBanner h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.topBanner i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;
}

.topBanner a {
    margin: 0 0 0 15px;
    padding: 3px 20px 5px 20px;
    border: 1px solid #ddd;
    text-transform: uppercase;
    font-size: 12px;
    vertical-align: 2px;
}



.header {
    background: rgb(56, 221, 125);
}

.header h1 {
    font-size: 0;
}

.header .inner {
    display: flex;
    width: 1200px;
    margin: 0 auto;

    line-height: 100px;
}

.header .gnb {
    margin: 0 0 0 100px;
}

.header .gnb>ul {
    display: flex;
    gap: 40px;
    margin: 0 0 0 270px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li>a {
    color: #fff;
}

.header .gnb>ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(0, -50%);

    width: 1px;
    height: 12px;
    background: #fff;
}

.header .right {
    margin: 0 0 0 auto;
}

.header .right i {
    color: #fff;
}


.mainVisual .mainSlide figure {
    position: relative;
    height: 700px;
}

.mainVisual .mainSlide .itm01 {
    background: url(../img/main01.jpg) no-repeat center center/cover;
}

.mainVisual .mainSlide .itm02 {
    background: url(../img/main02.jpg) no-repeat center center/cover;
}

.mainVisual .mainSlide .itm03 {
    background: url(../img/main03.jpg) no-repeat center center/cover;
}

.mainVisual .mainSlide .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1200px
}

.mainVisual .mainSlide .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    background: none;
    border: none;

    font-size: 0;

    width: 100px;
    height: 100px;

    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.mainVisual .mainSlide .slick-prev {
    transform: translate(-50%, -50%) rotate(-45deg);
    margin: 0 0 0 -700px;
}

.mainVisual .mainSlide .slick-next {
    transform: translate(-50%, -50%) rotate(135deg);
    margin: 0 0 0 700px;
}

.mainVisual .mainSlide .slick-dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.mainVisual .mainSlide .slick-dots>li {
    display: inline-block;
    border-radius: 10px;
    width: 100px;
    height: 6px;
    background: #fff;
    margin: 0 2px;
}

.mainVisual .mainSlide .slick-dots>li.slick-active {
    background: rgb(56, 221, 125);
}

.mainVisual .mainSlide .slick-dots>li button {
    display: none;
}

.mainVisual .mainSlide h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 15px 0;
    text-shadow: 0 0 3px #000;
    color: #fff;
}

.mainVisual .mainSlide p {
    font-size: 17px;
    font-weight: 300;
    margin: 0 0 30px 0;
    text-shadow: 0 0 1px #000;
    color: #fff;
    line-height: 20px;
}


.mainVisual .mainSlide .inner a {
    display: inline-block;
    padding: 10px 20px;
    background: #333;
    color: #fff;
    text-transform: uppercase;
}

.mainContent {
    padding: 100px 0;
}

.mainContent h2 {
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 15px 0;
    text-align: center;
}

.mainContent p {
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 30px 0;
    text-align: center;
    line-height: 16px;
}

.mainContent .inner {
    display: flex;
    gap: 30px;
}

.mainContent figure {
    flex: 1;
}

.mainContent figure img {
    width: 100%;
}


.footer {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    border-top: 1px solid #ddd;
}

.footer .list {
    font-size: 0;
    margin: 0 0 10px 0;
}

.footer .list li {
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
}

.footer .list li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #ddd;
    margin: 0 10px;
    /* vertical-align: -1px; */
}

.footer address {
    font-size: 12px;
}

.mainContent .inner {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
}